.heading-one() {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.heading-two() {

}

.link(@colorName: white) {
  color: @colorName;
  text-decoration: none;
}

.list() {
  margin: 0;
  padding: 0;
  list-style: none;
}
