@sedona-blue: #81b3d2;
@sedona-gray: #eeeeee;
@text-gray: #333333;
@body-bg: #f1f1f1;
@input-hover: #e5e5e5;
@btn-hover: #669ec0;
@btn-active: #5496bd;
@menu-active: #766357;
@menu-active-hover: #604e43;
@radio-active: #d5d5d5;

@tablet-width: ~'(min-width: 768px)';
@desktop-width: ~'(min-width: 1200px)';
@retina: ~'(min-resolution: 1.5dppx)';
