.advantages {

}

.advantages__header {
  .wrapper()
}

.advantages__title {
  .heading()
}

.advantages__item {
  margin: 0;
  background-color: @sedona-blue;
}

.advantages__caption {
  height: 190px;
  margin: 0;
  color: white;
  background-color: @sedona-blue;

  .wrapper();

  &--inactive {
    color: black;
    background-color: @sedona-gray;
  }
}

.advantages__descr {
  color: @text-gray;
  line-height: 26px;
}

.advantages__photo {
  background-size: cover;
  width: 100%;
  height: 260px;
  margin: 0;

  &--town {
    background-image: url('../img/photo-city-mobile@1x.jpg');
  }

  &--bridge {
    background-image: url('../img/photo-bridge-mobile@1x.jpg');
  }
}

.advantages__heading {
  .heading();
}

.advantages__text {
  &--inactive {
    color: @text-gray;
  }
}

.advantages__features {
  background-color: white;

  .list();
}

.advantages__feature {
  .wrapper();
}

.advantages__feature-heading {
  color: black;
  .heading();
}

.advantages__feature-text {
  color: @text-gray;
}
