.advantages {

}

.advantages__header {

}

.advantages__title {
  .heading-one()
}

.advantages__caption {
  color: white;
  background-color: @sedona-blue;

  &--inactive {
    color: black;
    background-color: @sedona-gray;
  }
}

.advantages__photo {
  background-size: cover;

  &--town {
    background-image: url('../img/photo-city-mobile@1x.jpg');
  }

  &--bridge {
    background-image: url('../img/photo-bridge-mobile@1x.jpg');
  }
}
