// main: ../style.less
.btn {
  display: block;
  width: 100%;
  height: 58px;
  padding-top: 18px;
  color: white;
  background-color: @sedona-blue;
  border: none;
  text-decoration: none;
  text-transform: uppercase;

  .bold();
}
