.gallery-item {
  color: black;
}

.gallery-item__wrapper {

}

.gallery-item__caption {
  font-size: 14px;
  line-height: 24px;
}

.gallery-item__copyright {
  color: @text-gray;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
}

.gallery-item__likes-number {
  font-weight: bold;
  line-height: 24px;
}
