.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;

  @media @tablet-width {
    flex-direction: row;
    justify-content: space-between;
    min-height: 56px;
    color: black;
  }
}

.main-nav__hamburger {
  display: none;
  position: absolute;
  top: 240px;
  right: 20px;
  height: 22px;
  width: 23px;
  background-color: transparent;
  background-image: url('../img/icon-menu.svg');
  border: none;

  @media @tablet-width {
    display: none;
  }
}

.main-nav__close {
  display: none;
  position: absolute;
  top: 16px;
  right: 20px;
  height: 22px;
  width: 22px;
  background-color: transparent;
  background-image: url('../img/icon-cross.svg');
  border: none;

  @media @tablet-width {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  .list();

  @media @tablet-width {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;

  @media @tablet-width {
    width: 153px;
    box-shadow: none;
  }

  @media @desktop-width {
    width: 239px;
  }
}

.main-nav__link {
  padding-bottom: 7px;
  padding-top: 9px;
  width: 100%;

  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  background-color: @sedona-blue;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset;

  .link(white);

  @media @tablet-width {
    padding-top: 15px;
    font-size: 14px;
    line-height: 26px;
    background-color: white;
    box-shadow: none;

    .link(black);
  }

  &:hover {
    background-color: @btn-hover;

    @media @tablet-width {
      background-color: white;
      color: @sedona-blue;
    }
  }

  &:active {
    background-color: @btn-active;
    color: rgba(255, 255, 255, 0.3);

    @media @tablet-width {
      background-color: white;
      color: black;
      opacity: 0.3;
    }

  }

  &--active {
    @media @tablet-width {
      color: @menu-active;

      &:hover {
        color: @menu-active-hover;
      }

      &:active {
        color: @menu-active;
        opacity: 0.3;
      }
    }
  }
}
