.social {
  display: flex;
  justify-content: space-between;
  width: 151px;

  @media @tablet-width {
    margin-bottom: 12px;
  }

  @media @desktop-width {
    margin-bottom: 12px;
    margin-right: 93px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  fill: white;
  background-color: @sedona-blue;
  background-position: center;
  background-repeat: no-repeat;


  &:hover {
    background-color: @btn-hover;
  }

  &:active {
    background-color: @btn-active;
    fill: rgba(255, 255, 255, 0.3);

  }
}
