// main: ../style.less
.video {
  padding-top: 17px;
  padding-bottom: 106px;

  @media @tablet-width {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
  }

  @media @desktop-width {
    padding-top: 23px;
  }
}

.video__caption {
  padding: 0 30px;

  @media @tablet-width {
    padding: 22px 30px;
  }
}

.video__heading {
  margin-bottom: 25px;

  .heading();

  @media @tablet-width {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }

  @media @desktop-width {
    margin-bottom: 27px;
  }
}

.video__text {
  padding: 0 13%;
  line-height: 24px;
  text-align: center;

  @media @desktop-width {
    width: 41%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.video__container {
  position: relative;

  width: 100%;
  height: 201px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  background-image: url('../img/video-mobile@1x.jpg');
  background-size: cover;

  @media @tablet-width {
    min-height: 500px;
    width: 648px;
    margin-bottom: 40px;
    padding: 0;
  }

  @media @desktop-width {
    width: 800px;
    margin-bottom: 85px;
  }
}

.video__volume {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);
  width: 87.5%;
  height: 45px;

  @media @tablet-width {
    bottom: 45px;
    left: 93px;
    z-index: 20;

    width: 60%;
    height: auto;



    background-color: transparent;
  }
}

.video__volume-scale {
  width: 83.92%;
  height: 3px;
  position: relative;

  background-color: rgba(255, 255, 255, 0.2);

  @media @tablet-width {
    width: 100%;
  }
}

.video__volume-control {
  position: absolute;
  left: 35px;
  top: -3px;

  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;

  border-radius: 50%;
  border: none;
  background-color: rgb(255, 255, 255);

  @media @tablet-width {
    left: 113px;
  }
}

.video__buttons {
  position: absolute;
  top: 201px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87.5%;
  height: 66px;
  padding: 0 23px;

  background-color: @body-bg;

  @media @tablet-width {
    top: auto;
    bottom: 0;
    z-index: 10;

    width: 100%;
    height: 93px;
    padding: 0 35px;

    background-color: rgba(0, 0, 0, 0.6);
  }
}

.video__btn {
  background-color: transparent;
  border: none;
  height: 20px;

  @media @tablet-width {
    filter: invert(1) brightness(2);

  }

  &--refresh {
    width: 16px;
    margin-right: auto;
    background-image: url('../img/icon-video-replay.svg');
  }

  &--subtitles {
    width: 32px;
    background-image: url('../img/icon-video-subtitles.svg');
    margin-right: 31px;
  }

  &--fullscreen {
    width: 20px;
    background-image: url('../img/icon-video-fullscreen.svg');

    @media @tablet-width {
      margin-right: 6px;
    }
  }
}
